<html>
    <head>
        <h1>Influence of twitter on stock performance</h1>
        
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id = "content">
        {{{body}}}
        </div>
    </body>



</html>